// Fonts

$main-font: 'Roboto', sans-serif;

// Colors

$black-color: #1c1917;
$white-color: #8d8c8b;
$header-color:#555351;
$orange-color:#ff8541;

// Sizes

$container-width: 1400px;
$container-padding: 20px;