.banner {

  padding-top : 80px;

  &-image {
    position: relative;
  }

  &-row {
    @include flex(center, start);
  }

  &-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 125%;
    color: #fff;
    position: absolute;
    color: #fff;
    top: 562px;
    left: 80px;
  }

  &-subtitle {
    position: absolute;
    top: 752px;
    left: 80px;
    font-family: "SF Pro Text", sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: #fff;
  }

  &-button {
    column-gap  : 25px;
    position: absolute;
    top: 752px;
    left: 498px;
    width: 64px;
    height: 64px;
  }
}
