.banner {
    margin: 80px 0;
    height: 716px;
    background-image: url(../../../images/banner/banner-image.png);
    background-repeat: no-repeat;
    background-size: auto;
    @include flex (end, center);
    margin-left: 250px;



    &-title {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 64px;
        line-height: 125%;
        color: #fff;
    }

    &-subtitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 25px;
        color: #fff;
    }

}